*
{
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

body,
html
{
    overflow: hidden;
}

#tattoine{
    background-image: url(../../static/image/Tattoine.svg);
    position: absolute;
    width: 100vw;
    height: 100vh;
}

/* #among_us{
    background-color: black;
    background-image: url(image/Ciel_Among_us.svg);
    position: absolute;
    width: 100vw;
    height: 100vh;
} */

#tattoine h1{
    position: relative;
    top: 50%;
    text-align: center;
}

#among_us h1{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    transform: translateY(-50%);
}

#van_ejected img{
    height: 600px;
  position: absolute;
  left: 0%;
  top: 50%;
  animation: eject 9s linear;
  transform-origin: 45vmin 45vmin;
  transform: translate3d(-50vmin, -45vmin, 0px) rotate(0turn) scale(0.15);
}

@keyframes eject {
  0% {
    transform: translate3d(-50vmin, -45vmin, 0px) rotate(0turn) scale(0.15);
  }
  50%, 100% {
    transform: translate3d(100vw, -45vmin, 0px) rotate(-2turn) scale(0.15);
  }
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #000000; */
}

#load{
    transition: all 2s ease;
    -webkit-transition: all 2s ease;  
    -moz-transition: all 2s ease;  
    -o-transition: all 2s ease;  
    -ms-transition: all 2s ease;
    background-color: #4960A9;
    position: absolute;
    z-index: 999;
    /* background-image: url(/images/Emprunte_Van.svg); */
    width: 100vw;
    height: 100vh;
}

.load-non {
    opacity: 100%;
}
.load-active {
    opacity: 0%;
}

.hidden{
    visibility: hidden;
}

.van{
    background-image: url(../../static/image/Emprunte_Van.svg);
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 33vw;
    height: 75vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.white_van{
    /* clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%); */
    position: absolute;
    top: 50%;
    left: 50%;
    height: 75vh;
    transform: translate(-50%, -50%);
    /* animation-name: loader; */
    /* animation-duration: 2.5s; */
}

/* .eye_van{
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    transform: scale(0.1) rotate(0turn);
    animation: eyeSpin 4s alternate;
} */

#complete{
    z-index: 999;
    animation-name: loader;
    animation-duration: 2.5s;
}

/* @keyframes eyeSpin{
    0%{
        transform: rotate(0turn) scale(0.1);
    }
    100%{
        transform: rotate(2turn) scale(0.1);
    }
} */

@keyframes loader{
    0% {clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);}
    50% {clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);}
    100% {clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);}
}

.cross {
    width: 3rem;
    height: 3rem;
    /* border: 2px solid red; */
    border-radius: 50%;
    position: absolute;
    z-index: 999;
    transform: translate(-50%, -50%);
    pointer-events: none;
    background-image: url(../../static/image/cross.svg);
}

.look {
    width: 6rem;
    height: 6rem;
    /* border: 2px solid red; */
    /* border-radius: 50%; */
    position: absolute;
    z-index: 999;
    transform: translate(-50%, -25%);
    background-size: 100%;
    background-repeat: no-repeat;
    pointer-events: none;
    background-image: url(../../static/image/Oeil_Loading.svg);
}

#arrow{
    z-index: 997;
    position: absolute;
    top: 1%;
    left: 1%;
}

#hub_arrow{
    z-index: 998;
    position: absolute;
    top: 1%;
    left: 1%;
}

.direction {
    z-index: 998;
    height: 100vh;
    position: absolute;
    transform: scale(0.2) translate(-200%, -200%);
}

#gauche{
    border: none;
    background-color: Transparent;
    background-repeat:no-repeat;
    width: 50%;
    background-image: url(../../static/image/gauche.png);
    top: 95%;
    left: 1%;
}

#droite{
    border: none;
    background-color: Transparent;
    background-repeat:no-repeat;
    width: 50%;
    background-image: url(../../static/image/droite.png);
    top: 95%;
    left: 10%;
}

#haut{
    border: none;
    background-color: Transparent;
    background-repeat:no-repeat;
    width: 50%;
    background-image: url(../../static/image/Bouton_avancer.png);
    top: 75%;
    left: 100%;
}

#bas{
    border: none;
    background-color: Transparent;
    background-repeat:no-repeat;
    width: 50%;
    background-image: url(../../static/image/bas.png);
    top: 95%;
    left: 100%;
}

#replay{
    height: 150vh;
    width: 80vw;
    z-index: 997;
    position: absolute;
    transform: scale(0.1) translate(-400%, -400%);
    border: none;
    background-color: Transparent;
    background-repeat:no-repeat;
    background-image: url(../../static/image/replay.png);
    left: 95%;
}

.blackscreen-active{
    
    background-color: rgb(0, 0, 0, 1);
    
}

.blackscreen-non{
    
    background-color: rgba(0, 0, 0, 0.1);
    
}

#blackscreen{
    position: absolute;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;  
    -moz-transition: all 2s ease;  
    -o-transition: all 2s ease;  
    -ms-transition: all 2s ease; 
}